@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .hidden {
    display: none;
}

.md\:flex {
    display: flex;
}

/* Estilos para tabletas y dispositivos más grandes */
@media (min-width: 768px) {
  .flex-container {
      /* Aquí puedes agregar o sobrescribir los estilos para tabletas */
  }
}

/* Estilos para desktop y dispositivos más grandes */
@media (min-width: 1024px) {
  .flex-container {
      /* Aquí puedes agregar o sobrescribir los estilos para desktop */
  }
}
